@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
    --game-background-image: url('Images/mainBackground.jfif');
    --textbox-and-cutscene-background-image: url('Images/textboxBackground.jpg');
    --arena-background-image: url('Images/Arena Background.png');
    --text-and-border: rgb(202, 37, 37);
    --on-hover: white;
}

body {
    background-image: var(--game-background-image);
    font-family: 'DotGothic16', sans-serif;
    color: var(--text-and-border);
    letter-spacing: 1px;
}

p {
    font-size: 20px;
    line-height: 110%;
}

button {
    background-image: var(--textbox-and-cutscene-background-image);
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: var(--text-and-border);
    border: solid var(--text-and-border) 2px;
    border-radius: 25px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

button:hover {
    color: var(--on-hover);
    border: solid var(--on-hover) 2px;
    transition-duration: 1000ms;
    cursor: pointer;
}

button:active {
    transform: translate(50%,-50%);
    transform: scale(0.85);
    transition-duration: 10ms;
}

#loadButton {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    font-size: 48px;
    border-radius: 25px;
    letter-spacing: 3px;
}

#startScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto;
    opacity: 0;
}

#startScreen > h1 {
    font-size: 36px;
}

#startScreen > h1, #startScreen > h3 {
    background-image: var(--textbox-and-cutscene-background-image);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

#startScreen > img {
    width: 75%;
    max-width: 300px;
    height: 75%;
    max-height: 300px;
}

#startScreenInputs {
    display: block;
    justify-content: space-between;
    max-width: 50%;
}

#startScreenInputs > input, #startScreenInputs > button, #startScreenInputs > h3 {
    font-size: 24px;
    margin: 10px 10px;
    font-family: 'DotGothic16', sans-serif;
    padding: 10px;
    border-radius: 25px;
}

#startScreenInputs > input {
    background-image: var(--textbox-and-cutscene-background-image);
    border: solid var(--text-and-border) 2px;
    color: var(--text-and-border);
    text-align: center;
    border-radius: 0;
    font-weight: bold;
}

#startScreenInputs > button {
    width: 300px;
}

#howToPlayModal, #genericModal {
    background-color: rgba(65, 54, 40, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    flex-direction: column;
}

#howToPlayTextbox {
    background-image: var(--textbox-and-cutscene-background-image);
    width: 97%;
	border-radius: 25px;
	margin: 15px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 0.5%;
	line-height: 120%;
}

#howToPlayTextbox > h1 {
    text-align: center;
    margin: 5px;
    border-radius: 25px;
}

#howToPlayTextbox > h2, #howToPlayTextbox > p {
    margin: 10px;
    border-radius: 25px;
}

#closeHowToPlay, #closeGenericModal {
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    font-family: 'DotGothic16', sans-serif;
    background-image: var(--textbox-and-cutscene-background-image);
    width: 10%;
    float: right;
}

#characterStatScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

#characterStatScreen > h1 {
    font-size: 36px;
}

#characterStatScreen > h1, #characterStatScreen > h3 {
    background-image: var(--textbox-and-cutscene-background-image);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

#statTable {
    width: 600px;
    max-width: 75%;
    margin: auto;
    background-image: var(--textbox-and-cutscene-background-image);
}

table, th, td {
    border: solid var(--text-and-border) 1px;
    font-size: 24px;
}

th, td {
    height: 50px;
}

.statIncrementers, .statDecrementers {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#confirmStats, #leaveStats {
    width: 300px;
    font-size: 24px;
}

#genericModalTextbox {
    background-image: var(--textbox-and-cutscene-background-image);
    width: 50%;
	border-radius: 25px;
	margin: auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 1%;
	line-height: 250%;
    text-align: center;
}

#cutscene {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.cutsceneEl {
    background-image: var(--textbox-and-cutscene-background-image);
    font-size: 40px;
    opacity: 0;
    border-radius: 25px;
    margin: auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 75%;
	padding: 0.5%;
	line-height: 120%;
    text-align: center;
}

#battleScreen {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

#crowdContainer {
    background-image: var(--textbox-and-cutscene-background-image);
    height: 5%;
    width: var(100% - 4px);
    border: solid white 2px;
    border-radius: 25px;
}

#crowd {
    background-color: var(--text-and-border);
    color: white;
    width: 10%;
    border-radius: 25px;
}

#playerBattle {
    display: flex;
    flex-direction: column;
    background-image: var(--textbox-and-cutscene-background-image);
    margin: 2%;
    width: 45%;
    border: solid var(--text-and-border) 2px;
    border-radius: 25px;
}

#playerInfo {
    margin-left: 3%;
    margin-right: 3%;
}

.battleStatDisplay {
    flex-direction: row;
    justify-content: space-between;
}

.battleStatDisplay > h2 {
    display: inline-block;
}

#playerActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    text-align: center;
}

#playerActionsContainer > button {
    width: 20%;
    height: 50%;
    font-size: 1.25em;
}

#playerAttacks {
    flex-direction: column;
    width: 25%;
}

#playerAttacks > button {
    width: 100%;
    margin: 1%;
    padding: 10px 20px 10px 20px;
    font-size: 1.25em;
}

#enemyBattle {
    display: flex;
    flex-direction: column;
    background-image: var(--textbox-and-cutscene-background-image);
    margin: 2%;
    width: 45%;
    border: solid var(--text-and-border) 2px;
    border-radius: 25px;
}

#battleMessagesContainer {
    background-image: var(--textbox-and-cutscene-background-image);
    position: fixed;
    text-align: center;
    justify-content: center;
    bottom: 25px;
    left: 2%;
    right: 2%;
    border-radius: 25px;
}

#battleMessagesContainer > button {
    display: none;
    margin: 25px;
    font-size: 24px;
    float: right;
}