@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
    --game-background-image: url('Images/backgroundLeather.jfif');
    --textbox-background-image: url('Images/textboxBackground.jpg');
    --text-and-border: rgb(202, 37, 37);
    --on-hover: white;
}

body {
    background-image: var(--game-background-image);
    font-family: 'DotGothic16', sans-serif;
    color: var(--text-and-border);
    letter-spacing: 1px;
}

p {
    font-size: 20px;
    line-height: 110%;
}

button {
    background-image: var(--textbox-background-image);
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    color: var(--text-and-border);
    border: solid var(--text-and-border) 1px;
    border-radius: 25px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

button:hover {
    color: var(--on-hover);
    border: solid var(--on-hover) 1px;
    transition-duration: 1000ms;
    cursor: pointer;
}

#loadButton {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    font-size: 48px;
    border-radius: 25px;
}

#startScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: auto;
    opacity: 0;
}

#startScreen > h1 {
    font-size: 36px;
}

#startScreen > h1, #startScreen > h3 {
    background-image: var(--textbox-background-image);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

#startScreen > img {
    width: 75%;
    max-width: 300px;
    height: 75%;
    max-height: 300px;
}

#startScreenInputs {
    display: block;
    justify-content: space-between;
    max-width: 50%;
}

#startScreenInputs > input, #startScreenInputs > button, #startScreenInputs > h3 {
    font-size: 24px;
    margin: 10px 10px;
    font-family: 'DotGothic16', sans-serif;
    padding: 10px;
    border-radius: 25px;
}

#startScreenInputs > input {
    background-image: var(--textbox-background-image);
    border: solid var(--text-and-border) 1px;
    color: var(--text-and-border);
    text-align: center;
    border-radius: 0;
    font-weight: bold;
}

#startScreenInputs > button {
    width: 300px;
}

#howToPlayModal, #genericModal {
    background-color: rgba(65, 54, 40, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
    flex-direction: column;
}

#howToPlayTextbox {
    background-image: var(--textbox-background-image);
    width: 97%;
	border-radius: 25px;
	margin: 15px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 0.5%;
	line-height: 120%;
}

#howToPlayTextbox > h1 {
    text-align: center;
    margin: 5px;
    border-radius: 25px;
}

#howToPlayTextbox > h2, #howToPlayTextbox > p {
    margin: 10px;
    border-radius: 25px;
}

#closeHowToPlay, #closeGenericModal {
    font-size: 16px;
    margin: 5px;
    padding: 5px;
    font-family: 'DotGothic16', sans-serif;
    background-image: var(--textbox-background-image);
    width: 10%;
    float: right;
}

#characterStatScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

#characterStatScreen > h1 {
    font-size: 36px;
}

#characterStatScreen > h1, #characterStatScreen > h3 {
    background-image: var(--textbox-background-image);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

#statTable {
    width: 600px;
    max-width: 75%;
    margin: auto;
    background-image: var(--textbox-background-image);
}

table, th, td {
    border: solid var(--text-and-border) 1px;
    font-size: 24px;
}

th, td {
    height: 50px;
}

.statIncrementers, .statDecrementers {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#confirmStats {
    width: 300px;
    font-size: 24px;
}

#genericModalTextbox {
    background-image: var(--textbox-background-image);
    width: 50%;
	border-radius: 25px;
	margin: auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 1%;
	line-height: 250%;
    text-align: center;
}